@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<a href="http://www.ncl.ac.uk/newrail/people/profile/mark.robinson">CO-Chair</a>
<a href="http://www.eci.ox.ac.uk/about/advisory.html">Chairman</a>